@import '../../styles/color.scss';
@import '../../styles/common.scss';
@import '../../styles/text.scss';

.infoValue {
  word-wrap: break-word;
  word-break: break-all;
  margin-bottom: 18px;
  font-size: 1.125rem !important;
  color: #000 !important;
}

.infoTitle {
  font-size: 1.125rem !important;
  color: $plainText !important;
  padding-bottom: 8px;
}

.hash {
  height: 29px;
  margin-top: 17px;
  margin-bottom: 12px;
  font-size: 1.5rem; // font-weight: bold;
  color: $plainText;
  word-break: break-all;
}

.lists {
  padding: 23px 28px 0;
}


.listHeaderRoot {
  font-size: 1.25rem !important;
  color: $tableText !important;
}

@media (max-width: 800px) {
  .lists {
    flex-direction: column;
    margin-top: 15px;
  }

  .attrs {
    display: flex;
    flex-direction: column;

    span:last-child {
      margin-top: 10px;
    }
  }
}

.hashCardRoot {
  @include boxShadow;
  margin-bottom: 20px;
  padding-top: 8px;

  @media (max-width: 800px) {
    padding-top: 0;
  }
}

.hashTitle {
  font-size: 20px;
  margin-right: 5px; // font-size: 24px;

  // @media (max-width: 800px) {
  //   font-size: 16px;
  // }
}

.hashText {
  @extend %hash;
  font-size: 20px;
  word-wrap: break-word;
  box-sizing: border-box;

  @media (max-width: 800px) {
    width: 100%;
    padding: 0 50px;
    line-height: 1.4;
    padding-bottom: 5px;
    text-align: center;
  }
}

.attrs {
  display: flex;
  font-size: 18px;

  @media (max-width: 800px) {
    font-size: 16px;

    svg,
    img {
      margin-left: 0 !important;
    }
  }

  &>span {
    flex: 1;
    display: flex;
    align-items: center;
  }

  .attrTitle {
    font-size: 1.125rem;
    color: $plainText !important;
    margin: 0 20px 0 10px;

    @media (max-width: 800px) {
      margin-right: 8px;
    }
  }

  svg {
    font-size: 24px;
    color: $primary;
    margin-left: 24px;
  }
}

.quotaIcon {
  height: 24px;
  margin-left: 24px;
}

.listRoot {
  margin-right: 31px !important;
}

.cardContentRoot {
  @media(max-width: 800px) {
    padding: 0 !important;

    &>div {
      margin: 0 !important;
    }

    .listHeaderRoot {
      line-height: 2;
      display: flex;
      align-items: center;

      &::before {
        display: block;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background-color: $primary;
        content: '';
        margin-right: 5px;
      }
    }
  }
}

.detailItem {
  &>span:first-child {
    display: inline-block;
    min-width: 200px;
    color: #6f747a;

    &:after {
      content: ':';
      display: inline;
      color: currentColor;
    }
  }

  &>span:last-child {
    color: #47484a;
  }

  margin-bottom: 36px;
}

.dataTypeSwitch {

  &>span {
    font-size: 12px;
    padding: 6px 7px;
    cursor: pointer;
    color: #979a9e;
    border: 1px solid #979a9e;

    &:first-child {
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
    }

    &:last-child {
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
    }
  }

  .active {
    background: #979a9e !important;
    color: #fff;
  }
}

.hexData,
.parameters {
  display: block;
  width: 482px;
  color: #000;
  margin-left: 200px;
  min-height: 200px;
  max-height: 500px;
  resize: none;
  padding: 15px;
}

.hexData {
  border: 1px solid #e7edf5;
  border-radius: 8px;
  line-height: 1.8;
}

.success,
.failure {
  svg {
    margin-right: 4px;
  }
}

.success {
  color: #3dd895;
}

.failure {
  color: #ff8181;
}
