$height: 151px;
$overlap: 101px;

.banner {
  display: flex;
  // flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: $height;
  margin-bottom: -$overlap;
  padding-bottom: 38px;
  box-sizing: border-box;
  color: #fff;
  font-size: 30px;
  background-repeat: no-repeat;
  background-position-x: center;
  line-height: 2;
  font-size: 24px;
  background: linear-gradient(to left, #4f9bea, #4e86ee);

  @media (max-width: 800px) {
    height: 117px;
    margin-bottom: 0;
    padding-bottom: 0;
  }
}
